{% extends "base.html" %}

{% block content %}
<div class="container my-3">
    <h1>Cadastrar</h1><hr style = 'margin: -10px 0 15px 0'>
    <div class="card card-header card" style = 'padding: 0px 15px;'>
        <h2 style = 'margin-bottom: 0px;'>Insira seus dados</h2>
        <form class="pure-form pure-form-stacked" method="post">
            {% csrf_token %}
            <fieldset>
                {{ form.non_field_errors }}

                {% for field in form %}
                <div class="pure-control-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}

                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Cadastrar</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}