{% extends "base.html" %}

{% block content %}
<!-- Page Title -->
<div class="page-title mb-4" data-aos="fade">
    <!-- <div class="heading">
        <div class="container">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-8">
                    <h1>Cadastre seus dados</h1>
                    <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint
                        voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores.
                        Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
                </div>
            </div>
        </div>
    </div> -->
    <nav class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="/">Home</a></li>
                <li class="current">Cadastro</li>
            </ol>
        </div>
    </nav>
</div><!-- End Page Title -->


<section class="section register d-flex flex-column align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Crie uma Conta</h5>
                            <p class="text-center small">Insira seus dados abaixo</p>
                        </div>
                        <form class="row g-3 needs-validation" method="post">
                            {% csrf_token %}
                            <div class="col-12">
                                <label for="id_username" class="form-label">Usuário</label>
                                <div class="input-group has-validation">
                                    {{ form.username }}
                                    <div class="invalid-feedback">Insira seu nome de usuário</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="id_email" class="form-label">Email</label>
                                {{ form.email }}
                                <div class="invalid-feedback">Insira seu Email</div>
                            </div>
                            <div class="col-12">
                                <label for="id_password1" class="form-label">Senha</label>
                                <div class="input-group has-validation">
                                    {{ form.password1 }}
                                    <div class="invalid-feedback">Insira a Senha</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="id_password2" class="form-label">Confirmar Senha</label>
                                <div class="input-group has-validation">
                                    {{ form.password2 }}
                                    <div class="invalid-feedback">Confirmar Senha</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit">Criar Conta</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}