{% extends 'base.html' %}


{% load static %}


{% block title %} Contato {% endblock title %}

{% block content %} 
<header class="masthead" style="background-image: url(/static/img/contact-bg1.jpg)">
</header>
<div class="overlay">
    <div class="container">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
                <h1>Fale conosco</h1>
                <p class="subheading">Você pode entrar em contato conosco tanto por e-mail como pelas redes sociais, abaixo seguem os links para contato:</p>
                <h4>Links:</h4>
                <ul>
                    <li>E-mail: <a href='cursos_online@cursos_online.com'></a></li>
                    <li>Facebook: <a href='https://facebook.com/cursos_online@cursos_online.com'>Cursos_OnFace</a></li>
                    <li>Instagram: <a href='https://instagram.com/cursos_online@cursos_online.com'>Cursos_OnInsta</a></li>
                    <li>Twitter: <a href='https://twitter.com/cursos_online@cursos_online.com'>Cursos_OnTwitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock content %}


