{% extends 'base.html' %}

{% load static %}

{% block title %} Contato {% endblock title %}

{% block content %} 

<div class="container my-3">
    <h1>Fale conosco</h1><hr style = 'margin: -10px 0 15px 0'>
    <div class="card card-header card" style = 'padding: 0px 15px'>
        <p class="subheading" style="margin: 10 0;">Você pode entrar em contato conosco tanto por e-mail como pelas redes sociais, abaixo seguem os links para contato:</p>
        <h4 style = 'margin-top:0;'>Links:</h4>
        <ul style="margin: 0;"></ul>
            <li>E-mail: <a href='/'>cursos_online@cursos_online.com</a></li>
            <li>Facebook: <a href='https://facebook.com/cursos_online@cursos_online.com'>Cursos_OnFace</a></li>
            <li>Instagram: <a href='https://instagram.com/cursos_online@cursos_online.com'>Cursos_OnInsta</a></li>
            <li>Twitter: <a href='https://twitter.com/cursos_online@cursos_online.com'>Cursos_OnTwitter</a></li>
        </ul>
        <br>
    </div>
</div>


{% endblock content %}


