{% extends "base.html" %}

{% block content %}

<!-- Page Title -->
<div class="page-title mb-4" data-aos="fade">
    <!-- <div class="heading">
        <div class="container">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-8">
                    <h1>Fórum de Duscussões</h1>
                    <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint
                        voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores.
                        Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
                </div>
            </div>
        </div>
    </div> -->
    <nav class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="/">Home</a></li>
                <li class="current">Fórum</li>
            </ol>
        </div>
    </nav>
</div><!-- End Page Title -->

<div class="pure-g-r content-ribbon">
    <div class="pure-u-1-3">
        <div class="pure-menu pure-menu-open">
            <ul>
                <li class="pure-menu-heading">Tópicos do Fórum</li>
                <li>
                    <a href="?order=">
                        <i class="fa fa-refresh"></i>
                        Mais Recentes
                    </a>
                </li>
                <li>
                    <a href="?order=views">
                        <i class="fa fa-eye"></i>
                        Mais Visualizados
                    </a>
                </li>
                <li>
                    <a href="?order=answers">
                        <i class="fa fa-comments-o"></i>
                        Mais Comentados
                    </a>
                </li>
                <li class="pure-menu-heading">Tags</li>
                {% for tag in tags %}
                <li>
                    <a href="{% url 'forum:index_tagged' tag.slug %}" class="tags">
                        <i class="fa fa-tag"></i>
                        {{ tag }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="pure-u-2-3">
        <div class="inner">
            {% for thread in object_list %}
            <div class="well">
                <h3><a href="{{ thread.get_absolute_url }}" title="">{{ thread.title }}</a></h3>
                <h5>
                    Criado por {{ thread.author }} | {{ thread.answers }} resposta{{ thread.answers|pluralize }} | {{
                    thread.views }} Visualizaç{{ thread.views|pluralize:"ão,ões" }}
                </h5>
                <p>
                    <i class="fa fa-tags"></i>
                    Tags:
                    {% for tag in thread.tags.all %}
                    <a href="{% url 'forum:index_tagged' tag.slug %}" title="">{{ tag }}</a>{% if not forloop.last %},
                    {% endif %}
                    {% endfor %}
                    <a class="fright" href="{{ thread.get_absolute_url }}" title="">Atualizado a {{
                        thread.modified|timesince }} atrás</a>
                </p>
            </div>
            {% endfor %}
            <ul class="pagination pagination-centered">

                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}"
                        title="">Anterior</a>
                </li>
                {% endif %}
                {% for page in paginator.page_range %}
                <li {% if page == page_obj.number %} class="active" {% endif %}>
                    <a href="?page={{ page }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}"
                        title="">
                        {{ page }}
                    </a>
                </li>
                {% endfor %}



                {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}"
                        title="">Próxima</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}