{% extends "base.html" %}

{% load static %}
{% load cursos_tags %}

{% block content %}
{% listar_meus_cursos user as enrollments %}
<div class="card-header" style='padding: 10px;'>
    {% if messages %}
    <div class="breadcrumb pure-u-1">
        {% for message in messages %}
        <p>{{ message }}</p> 
        {% endfor %}
    </div>
    {% endif %}    
    <div class="">
        <ul class="breadcrumb pure-menu-heading">
            {% block breadcrumb %}
            <li><a class="" href="{% url 'accounts:painel' %}">Meu Painel</a></li>
            {% endblock %}
        </ul>
    </div>
    <div class="card" style='margin: auto;'>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-4 m-2">
                <div class="card pure-menu pure-menu-open">
                    <ul>
                        <li class="card card-header">
                            Bem-vindo, <strong>{{ user }}</strong>
                        </li>
                        {% block menu_options %}

                        <li class="card card-header p-2"><strong>Cursos</strong></li>
                        {% for enrollment in enrollments %}
                        <li>
                            <a href="{% url 'cursos:anuncios' enrollment.curso.slug %}">
                                <img src="{% static 'icons/journal-bookmark-fill.svg' %}" alt="">
                                <strong style="font-size: 14px">{{ enrollment.curso }}</strong>
                            </a>
                        </li> 
                        {% empty %}
                        <li style='padding: 5px 0 5px 15px;'>Não há inscrições</li>
                        {% endfor %}
                        <li class="card card-header p-2"><strong>Configurações de Conta</strong></li>
                        <li>
                            <a href="{% url 'accounts:editar_usuario' %}">
                                <img src="{% static 'icons/gear-fill.svg' %}" alt="">
                                Editar Conta
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'accounts:editar_senha' %}">
                            <img src="{% static 'icons/shield-lock-fill.svg' %}" alt="">
                            Editar Senha</a>
                        </li>
                        {% endblock menu_options %}
                    </ul>
                </div>
            </div>
            <br>
            <div class="carddash pure-u-2-3 m-2">
                <div class="card">
                    <div class="card-header p-2">
                    {% block dashboard_content %}
                        <h2 class="font-weight-bold pure-menu-heading">Cursos</h2>
                        {% for enrollment in enrollments %}
                        <div class="card mb-2 p-2" > 
                            <h3>{{ enrollment.curso }} 
                            <!-- Filtros alinhados -->
                            ({{ enrollment.curso.start_date|date:'d/m/Y'|default:'Em breve' }})
                            </h3>
                            {{ enrollment.curso.descricao | truncatechars:"200" }}
                            <div class="pure-controls mt-2">
                                <a href="{% url 'cursos:anuncios' enrollment.curso.slug %}" class="pure-button pure-button-primary">Acessar</a>
                                <a href="{% url 'cursos:cancelar_enrollment' enrollment.curso.slug %}" class="pure-button button-error">Cancelar</a>
                            </div>
                        </div>
                        {% empty %}
                        <aside class=pure-u-1>
                            <p style='padding: 5px 0 5px 15px;'>Não há inscrições</p>
                        </aside>
                        {% endfor %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

