{% extends "base.html" %}

{% load static %}
{% load cursos_tags %}

{% block content %}
{% listar_meus_cursos user as enrollments %}
<div class="card-header" style='padding: 10px;'>
    {% if messages %}
    <div class="breadcrumb pure-u-1">
        {% for message in messages %}
        <p>{{ message }}</p> 
        {% endfor %}
    </div>
    {% endif %}    
    <div class="">
        <ul class="breadcrumb pure-menu-heading">
            {% block breadcrumb %}
            <li><a class="" href="{% url 'accounts:painel' %}">Meu Painel</a></li>
            {% endblock %}
        </ul>
    </div>
    <div class="card" style='margin: auto;padding: 10px;'>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <div class="pure-menu pure-menu-open">
                    <ul>
                        <li class="pure-menu-heading">
                            Bem-vindo, <strong>{{ user }}</strong>
                        </li>
                        {% block menu_options %}

                        <li class="font-weight-bold pure-menu-heading" style='margin-top: 0; background-color:rgba(0,0,0,.03);'>Cursos</li>
                        {% for enrollment in enrollments %}
                        <li>
                            <a href="{% url 'cursos:anuncios' enrollment.curso.slug %}">
                                <img src="{% static 'icons/journal-bookmark-fill.svg' %}" alt="">
                                <strong>{{ enrollment.curso }}</strong>
                            </a>
                        </li> 
                        {% empty %}
                        <li style='padding: 5px 0 5px 15px;'>Não há inscrições</li>
                        {% endfor %}
                        <li class="font-weight-bold pure-menu-heading" style='margin-top: 0; background-color:rgba(0,0,0,.03);'>Configurações de Conta</li>
                        <li>
                            <a href="{% url 'accounts:editar_usuario' %}">
                                <img src="{% static 'icons/gear-fill.svg' %}" alt="">
                                Editar Conta
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'accounts:editar_senha' %}">
                            <img src="{% static 'icons/shield-lock-fill.svg' %}" alt="">
                            Editar Senha</a>
                        </li>
                        {% endblock menu_options %}
                    </ul>
                </div><br>
            </div>
            <br>
            <div class="pure-u-2-3">
                <div class="card" style = 'margin-left: 2px;'>
                    <div class="card-header">
                    {% block dashboard_content %}
                        <h2 class="font-weight-bold pure-menu-heading" style='margin: 5px;'>Cursos</h2>
                        {% for enrollment in enrollments %}
                        <div class="card" style="padding: 4px 4px 4px 10px; margin-bottom: 10px;"> 
                            <h3>{{ enrollment.curso }} 
                            <!-- Filtros alinhados -->
                            ({{ enrollment.curso.start_date|date:'d/m/Y'|default:'Sem data' }})
                            </h3>
                            {{ enrollment.curso.descricao | truncatechars:"200" }}
                            <div class="pure-controls">
                                <a href="{% url 'cursos:anuncios' enrollment.curso.slug %}" class="pure-button pure-button-primary">Acessar</a>
                                <a href="{% url 'cursos:cancelar_enrollment' enrollment.curso.slug %}" class="pure-button button-error">Cancelar</a>
                            </div>
                        </div>
                        {% empty %}
                        <aside class=pure-u-1>
                            <p style='padding: 5px 0 5px 15px;'>Não há inscrições</p>
                        </aside>
                        {% endfor %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

