{% extends "accounts/dashboard.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li style='margin: 5px;'>/</li>
    <li><a href="{% url 'accounts:editar_senha' %}">Editar Senha</a></li>
{% endblock %}

{% block dashboard_content %}

    <form class="pure-form pure-form-stacked" method="POST">
        {% csrf_token %}
        {% if success %}
        <h1 class="" style='margin: 10px 0 0 0'>A senha foi alterada com sucesso!!!</h1>
        {% endif %}        
        <fieldset>
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="pure-control-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <div class="pure-controls">
                <button type="submit" 
                class="pure-button pure-button-primary">
                Alterar senha</button>
            </div>
        </fieldset>
    </form>

{% endblock %}

