{% extends 'base.html' %}

{% load static %}

{% block title %} Contato {% endblock title %}

{% block content %}

<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <!-- <div class="heading">
        <div class="container">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-8">
                    <h1>Fale Conosco</h1>
                    <p class="mb-0">Você pode entrar em contato conosco tanto por e-mail como pelas redes sociais, abaixo seguem os links para contato:</p>
                </div>
            </div>
        </div>
    </div> -->
<nav class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a href="/">Home</a></li>
            <li class="current">Contato</li>
        </ol>
    </div>
</nav>
</div><!-- End Page Title -->
<div class="container my-3">
    <div class="card card-header card" style='padding: 10px 10px'>
        <ul></ul>
        <li>E-mail: <a href='/'>cursos_online@cursos_online.com</a></li>
        <li>Facebook: <a href='https://facebook.com/cursos_online@cursos_online.com'>Cursos_OnFace</a></li>
        <li>Instagram: <a href='https://instagram.com/cursos_online@cursos_online.com'>Cursos_OnInsta</a></li>
        <li>Twitter: <a href='https://twitter.com/cursos_online@cursos_online.com'>Cursos_OnTwitter</a></li>
        </ul>
        <br>
    </div>
</div>


{% endblock content %}